.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS Style components */

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #282c34;
  min-height: 8vh;
  font-size: 2.1vh;
}

.NavLink {
  background-color: #323741 !important;
  box-shadow: 0px 1px 1px 0px #000000 !important;
  border-radius: 5px !important;
  color: white !important;
}

.NavLink:hover {
  background-color: #323741 !important;
  box-shadow: 0px 2px 2px 0px #000000 !important;
  border-radius: 10px !important;
}

.CustomCard {
  min-height: 10vh;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px #6e6e6e;
}

.Block {
  background-color: #282c34;
  min-height: 10vh;
}

.CustomButton {
  background-color: #282c34 !important;
  box-shadow: 0px 2px 2px 0px #6e6e6e;
  border-color: #282c34 !important;
}

.PX5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.MX5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ButtonSection {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.M5 {
  margin: 5px;
}

/* Layout styles */
.app-layout {
  display: flex;
  height: 100vh;
}

.side-nav {
  width: 200px;
  background-color: #323741;
  padding-top: 30px;
}

.side-nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.side-nav a:hover {
  background-color: #575d69;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.top-nav {
  background-color: #323741;
  height: 60px;
  padding: 0 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  color: white !important;
}
.navLink:hover {
  background-color: #575d69 !important;
}

.app-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}

.view-app-container {
  /* display: flex; */
  /* overflow-x: auto; */
  /* white-space: nowrap; */
  padding-bottom: 15px;
}

.dashboardApps {
  display: inline-block;
  max-width: 200px !important;
  margin: 20px !important;
}

.AppUrlButton{
  background-color: #282c34 !important;
  box-shadow: 0px 2px 2px 0px #6e6e6e;
  border-color: #282c34 !important;
  font-size: 15px !important;
  margin-top: 10px;
}